body {
  background-image: url('/src/images/dogImagen.png');
  margin-left: 10px;
  margin-right: 10px;
  background-size: contain; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
   min-height: 100vh;
  max-height: 100vh; 
  font-size: 1.2rem;
 color: white; 
}

.App {
  text-align: center;
}

input{
  background-color: rgb(236, 234, 234);
}

select{
  text-align: center;
  color:rgb(22, 97, 72);
  font-family: 'Courier New', Courier, monospace;
  background-color: #fff0f0;
}

/* 
.boton_form{
  color:rgb(58, 39, 143);
  font-size: 1.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: #39044e solid;
  background-color: #f4f2ae4f;
}

.caja { 
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #ffffff; 
  font-size: 12px; 
  text-align: center; 
  background: #889ccf; 
  margin-left: 1000px; 
  overflow: hidden; 
  padding: 10px; 
  border-radius: 35px 0px 35px 0px; 
  -moz-border-radius: 35px 0px 35px 0px; 
  -webkit-border-radius: 35px 0px 35px 0px; 
  border: 2px solid #5878ca;} */
  
.div {
  display: inline-flex;
  padding: auto;
  flex-flow: row;
  align-items: center;
  color:aquamarine;
  font-size: 20px; 

}



